*{
  box-sizing: border-box;
  margin: 0;
}

:root {
  --hue: 100;
  --saturation: 70%;
  --paddle_color : hsl(var(--hue),var(--saturation),75%);
  --bg_color : hsl(var(--hue),var(--saturation),20%)
}
body{
  overflow: hidden;
}
header{
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background-image: url("https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg");
  border-bottom: 5px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  

  /* background: rgba(88, 113, 202, 1.0); */
  /* background: radial-gradient(at center, var(--paddle_color), var(--bg_color)); */

}
#logo{
  width: 64px;
}

.gamearea{
  background-color: var(--bg_color);
  height: 80vh;
  overflow: hidden;
}


.paddle{

  --position:60;

  position: absolute;
  background-color: var(--paddle_color);
  width: 1vh;
  height: 10vh;
  top: calc(var(--position) * 1vh );
  /* transform: translatey(-50%); */
  z-index: 1;
}

.paddle.left{
  left: 1vw;
  border-radius: 5px;
}

.paddle.right{
  right: 1vw;
  border-radius: 5px;

}


.ball{
  --x:50;
  --y:55;
  position: absolute;
  background-color: var(--paddle_color);
  width: 2.5vh;
  height: 2.5vh;
  top: calc(var(--y) * 1vh );
  left: calc(var(--x) * 1vw );
  border-radius: 50%;
  transform: translate(-50%,-50%);
}

.player_card{
  /* border: 1px solid black; */
  width: 40vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.computer_card{
  /* border: 1px solid black; */
  width: 40vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.score{
  /* border: 1px solid red; */
  width: 20vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.player_image{
  border: 1px solid red;
  width: 20vh;
  height: 18vh;
  border-radius: 50%;
  border: none;
  animation: glow 2s infinite;
}

@keyframes glow {
  0% {
      box-shadow: 0 0 3px rgb(13, 0, 0), 0 0 10px var(--paddle_color), 0 0 15px var(--bg_color);
  }
  50% {
      box-shadow: 0 0 20px red, 0 0 30px yellow, 0 0 20px blue;
  }
  100% {
      box-shadow: 0 0 5px rgb(229, 255, 0), 0 0 10px yellow, 0 0 15px blue;
  }
}

.player_name{
  /* border: 1px solid black; */
  width: 15vh;
  text-align:center;
  font-size: 3vw;
  margin-right: 2px;
  height: 4vh;
  color: white; /* Text color */
  font-weight: 900;
}


.computer_image{
  border: 1px solid red;
  width: 20vh;
  height: 18vh;
  border-radius: 50%;
  border: none;
  animation: glow 2s infinite;
}



.glowing-image {
  
}
.computer_name{
  /* border: 1px solid black; */
  width: 15vh;
  text-align:center;
  font-size: 3vw;
  margin-left: 2px;
  height: 4vh;
  color: white;
}

.scores{
  border: 1px solid black;
  width: 8vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1vh;
  font-size: 5vw;
  font-weight: 900;
  color: white; /* Bright red text color */
  text-shadow: 0 0 20px var(--bg_color), 0 0 30px var(--bg_color), 0 0 40px var(--bg_color), 0 0 50px var(--bg_color), 0 0 60px var(--bg_color), 0 0 70px var(--bg_color), 0 0 80px var(--bg_color);
}
