*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 90%, 45%, 1);

    background: radial-gradient(circle, hsla(0, 90%, 45%, 1) 52%, hsla(243, 10%, 47%, 1) 100%, hsla(197, 44%, 42%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(0, 90%, 45%, 1) 52%, hsla(243, 10%, 47%, 1) 100%, hsla(197, 44%, 42%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(0, 90%, 45%, 1) 52%, hsla(243, 10%, 47%, 1) 100%, hsla(197, 44%, 42%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DA0C0C", endColorstr="#6D6C83", GradientType=1 );

}

.gameoverpage{ 
    display: flex;
    justify-content: center;;
    /* margin-top: 10px; */
    align-items: center;
}
.gameoverpage_div{ 
    border:1px solid black;
    height: 80vh;
    width: 80vw;
    position: relative;
    margin-left: 50px;
    margin-top: 90px;
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: antiquewhite;
}

.gameoverpage img{
    height: 80px;
    margin-top: 100px;
    padding: 10px;
    margin-left: 50px;
}
.card{
    /* border: 1px solid black; */
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: center;


}
.avatar{
    /* border: 1px solid blue; */
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}



.score{
    border-radius: 10px;
    height: 60px;
    width: 60px;
    margin-top: 30px;
    color: black;
    font-size: 50px;
    text-align: center;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 5px rgba(18, 16, 16, 5);
    
}

.name_score{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.button{
    border: 1px solid orange;
    color: white;
    background-color: orange;
    font-weight: 800;
    font-size: 2vw;
    border-radius: 10px;
    padding: 10px;
}
.toshowscore{
    display: flex;
}
.won{
    text-align: center;
}
.player_name{
    font-size: 20px;
    font-weight: bold;
}

.computer_name{
    font-size: 20px;
    font-weight: bold;
}


.avatar img{
    /* border: 1px solid blue; */
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    
    
}

#win_word{
    padding: 10px;
    font-size: 2vw;
    font-weight: 900;
    /* color: green; */
}

#win_msg{
    font-size: 3vw;
    font-weight: 700;
    color: red;
    margin-bottom: 20px;
}
#player_score{
    margin-left: 20px;
}